$gray-50: #f5f9ff;
$gray-75: #e1e6f7;
$gray-100: #d6dbe4;
$gray-200: #b8beca;
$gray-300: #9ba2b0;
$gray-400: #7e8696;
$gray-500: #636c7e;
$gray-600: #464c5a;
$gray-700: #2a2f39;
$gray-800: #11141b;
$gray-900: #010203;
$brand-50: #dafcff;
$brand-100: #c1e2ff;
$brand-200: #a8c8ff;
$brand-300: #90aff0;
$brand-400: #7997d6;
$brand-500: #627fbc;
$brand-600: #435c92;
$brand-700: #263b69;
$brand-800: #0c1c43;
$brand-850: #0b1935;
$brand-900: #07122e;
// $brand-900: #000220;
$accent-50: #fff7ad;
$accent-100: #ffdd94;
$accent-200: #e7c47b;
$accent-300: #cdab62;
$accent-400: #b4934a;
$accent-500: #9c7b31;
$accent-600: #75590f;
$accent-700: #513800;
$accent-800: #301a00;
$accent-900: #110200;

$success-50: #c3ffe1;
$success-100: #a9f7c8;
$success-200: #90ddaf;
$success-300: #77c397;
$success-400: #5faa7f;
$success-500: #469268;
$success-600: #276d48;
$success-700: #014a2a;
$success-800: #00290f;
$success-900: #000c00;
$warning-50: #fff4ae;
$warning-100: #ffda95;
$warning-200: #edc17c;
$warning-300: #d3a864;
$warning-400: #ba904b;
$warning-500: #a17833;
$warning-600: #7a5612;
$warning-700: #553600;
$warning-800: #331800;
$warning-900: #130100;
$danger-50: #ffe1e3;
$danger-100: #ffc7c9;
$danger-200: #ffaeb0;
$danger-300: #e89698;
$danger-400: #ce7e81;
$danger-500: #b4666a;
$danger-600: #8a464a;
$danger-700: #62282c;
$danger-800: #3c0a11;
$danger-900: #190000;

$summer-50: #e0f7fa; 
$summer-100: #b3e5fc; 
$summer-200: #81d4fa; 
$summer-250: #65c9f3;
$summer-300: #4fc3f7; 
$summer-400: #29b6f6; 
$summer-500: #03a9f4; 
$summer-600: #039be5; 
$summer-700: #0288d1; 
$summer-800: #0277bd; 
$summer-900: #01579b; 

$summer-accent-50: #ffebee; 
$summer-accent-100: #ffcdd2; 
$summer-accent-200: #ef9a9a; 
$summer-accent-300: #e57373;
$summer-accent-400: #ef5350;
$summer-accent-500: #f44336;
$summer-accent-600: #e53935;
$summer-accent-700: #d32f2f; 
$summer-accent-800: #c62828;
$summer-accent-900: #b71c1c;
